html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #051B1F;
  font-family: "Montserrat", sans-serif;
}

.box {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #EDEDED;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .box {
    height: 80vh;
  }
}
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__logo img:nth-child(2) {
  display: none;
}
.header__burger {
  width: 30px;
  height: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__burger span {
  width: 100%;
  height: 4px;
  background-color: white;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  width: 36%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  color: #000000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link:hover {
  color: #d99b38;
}
.header__lang {
  width: 48px;
  height: 32px;
}
.header__lang-btn--active {
  display: none;
}

@media (max-width: 850px) {
  .header {
    background-color: rgb(0, 0, 0);
  }
  .header__logo img:nth-child(1) {
    display: none;
  }
  .header__logo img:nth-child(2) {
    display: block;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    display: none;
  }
}
@media (max-width: 450px) {
  .header__logo {
    width: 35%;
  }
}
.footer {
  color: #FFFFFF;
}
.footer__top {
  padding: 4rem 0;
  background-color: #1F1F1F;
}
.footer__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom {
  background-color: #000000;
  text-align: center;
  padding: 3rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__info-tel:before {
  content: url(/images/icons/telephone.svg);
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
}
.footer__info-tel a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__info-tel a:hover {
  color: #D98F38;
}
.footer__info-mail:before {
  content: url(/images/icons/mail.svg);
  position: absolute;
  left: 3px;
  top: -2px;
  width: 25px;
}
.footer__info-mail a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__info-mail a:hover {
  color: #D98F38;
}
.footer__info-time:before {
  content: url(/images/icons/time.svg);
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
}
.footer__info-location:before {
  content: url(/images/icons/location.svg);
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
}
.footer__info-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer__info-list {
  margin-bottom: 50px;
}
.footer__info-item {
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  padding-left: 60px;
  position: relative;
}
.footer__info-item:not(:last-child) {
  margin-bottom: 30px;
}
.footer__info-item a {
  color: #FFFFFF;
}
.footer__map {
  width: 50%;
  height: 40vh;
}
.footer__map iframe {
  width: 100%;
  height: 100%;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .footer__map {
    height: 25vh;
  }
}
@media (max-width: 750px) {
  .footer__top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info {
    width: 50%;
    margin-bottom: 50px;
  }
  .footer__map {
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 500px) {
  .footer__info {
    width: 100%;
  }
}
.start {
  margin-top: 12rem;
}
.start__title {
  width: 70%;
  font-weight: 800;
  font-size: calc(
    30px + 30 *
      ((100vw - 320px) / 1600)
  );
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.start__text {
  font-family: "Open Sans", sans-serif;
  font-size: calc(
    18px + 4 *
      ((100vw - 320px) / 1600)
  );
  line-height: 1.6;
  font-weight: normal;
  width: 55%;
  margin-bottom: 7rem;
}
.start__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 550px;
}
.start__btn {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 1rem;
  font-size: calc(
    12px + 8 *
      ((100vw - 320px) / 1600)
  );
  padding: 30px 60px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.start__btn:hover {
  background-color: #D98F38;
}

@media (max-width: 900px) {
  .start__img {
    opacity: 0.5;
  }
  .start__title, .start__text {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .start__btn {
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 600px) {
  .start {
    margin-top: 6rem;
  }
  .start__text {
    margin-bottom: 4rem;
  }
  .start__img {
    width: 70%;
  }
}
@media (max-width: 450px) {
  .start__btn {
    width: 100%;
  }
}