/* Common */
:root {
    --accent-color: #D98F38;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
p {
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
}
a {
    text-decoration: none;
}
.header__media-links {
    display: flex;
}
.header__media-icon {
    display: block;
    font-size: 22px;
    margin: 1rem;
    transition: color .2s;
}
.header__media-link:hover .header__media-icon {
    color: var(--accent-color);
}

.lang-switcher-btn {
    border: none;
    background: none;
    cursor: pointer;
    width: 48px;
}
.lang-switcher-img {
 width: 100%;
}

.welcome__button,
.gallery__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    height: 7.5rem;
    width: 27rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.8rem;
    background-color: #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.gallery__button {
    width: 37rem;
    margin-top: 3rem;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: none;

}
.welcome__button:hover {
    background-color: var(--accent-color);
}
.welcome__button:focus {
    background-color: var(--accent-color);
}

.gallery__button:hover,
.gallery__button:focus {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
section {
    width: 100%;
    display: flex;
}
h3 {
    /* about-us__title, services__title, gallery__title */
    font-size: 4.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* Welcome section */
.welcome {
    background: linear-gradient(109.72deg, #F0F0F0 0.94%, #D5D5D5 92.31%);
    height: 1000px;
    min-height: 50rem;
    max-height: 108rem;
    position: relative;
    overflow: hidden;
}
.welcome__wrapper {
    max-width: 128rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.header {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
}
.logo {
    margin-right: 5rem;
}
.navigation {
    width: 36%;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.navigation ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation ul li a {
    white-space: nowrap;
    margin-right: 1rem;
    transition: 0.5s;
    position: relative;
    color: #000000;
}
.navigation ul li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    top: 100%;
    left: 0;
    background: var(--accent-color);;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
.navigation ul li a:hover {
    color: var(--accent-color);
}
.navigation ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
.phone-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #000000;
}
.phone-text:hover {
    color: var(--accent-color);
}
.welcome__message {
    margin-top: 12rem;
    width: 100%;
}
.welcome__message h2 {
    width: 82rem;
    font-weight: 800;
    font-size: 5.4rem;
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0.1rem 0.1rem 2rem #FFFFFF;
}
.welcome__message p {
    margin-top: 3rem;
    width: 62rem;
    font-size: 2.2rem;
    line-height: 1.6;
    text-shadow: 0.1rem 0.1rem 2rem #FFFFFF;
}
.welcome__image {
    width: 100%;
}
.welcome__image-container {
    z-index: 1;
    width: 55rem;
    position: absolute;
    bottom: -0.2rem;
    right: 5%;
}
.mobile-header {
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 7rem;
    z-index: 3;
    background-color: #000000;
}
.mobile-header__wrapper {
    max-width: 128rem;
    margin: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-header__phone-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;

}
.mobile-header__logo-link {
    display: block;
    width: 120px;
}
.mobile-header__logo {
    width: 100%;
}

/* Features section */
.features {
    background-color: #F5F5F5;
}
.features__wrapper {
    max-width: 128rem;
    width: 80%;
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.features__item {
    width: 24.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}
.features__icon {
    display: flex;
    justify-content: center;
}
.features__title {
    margin-top: 2.5rem;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}
.features__text {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.4rem;
}

/* About-us section */
.about-us__wrapper {
    max-width: 128rem;
    width: 80%;
    margin: 8rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-us__text-container {
    width: 50%;
    padding-right: 4rem;
}
.about-us__text {
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
}
.about-us__image-container {
    width: 50%;
}
.about-us__image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    filter: drop-shadow(0px 4px 20px rgba(184, 159, 119, 0.2));
}

/* Services section */
.services__wrapper {
    max-width: 128rem;
    width: 80%;
    margin: 8rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    width: 70%;
    margin-top: 3rem;
}
tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.table__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.table__cell {
    font-size: 2.5rem;
}
.table__cell_title {
    padding-right: 2rem;
    text-transform: uppercase;
}
.table__cell_price {
    color: var(--accent-color);
    text-align: end;
    white-space: nowrap;
}

/* Gallery section */
.gallery__wrapper {
    max-width: 128rem;
    width: 80%;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery__images-container {
    width: 100%;
    margin-top: 3rem;
}
.gallery__list {
    text-align: center;
}
.splide__arrow--next {
    right: -3em;
}
.splide__arrow--prev {
    left: -3em;
}
.gallery__image {
    width: 27rem;
    height: 27rem;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
    transition: opacity 0.3s;
}
.gallery__image_extra {
    display: none;
}
.gallery__image:hover {
    opacity: 0.7;
}

/* Gallery modal */
.gallery-modal {
    display: block;
    position: fixed;
    z-index: 4;
    padding-top: 2rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000d0;
}
.gallery-modal__close-btn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 42px;
    cursor: pointer;
    color: #F5F5F5;
    background: #ffffff20;
    border-radius: 8px;
    z-index: 1;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Footer section */
.footer {
    background-color: #1F1F1F;
}
.footer__wrapper {
    max-width: 128rem;
    width: 80%;
    margin: 8rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts {
    width: 50%;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.contacts__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}
.contacts__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contacts__icon {
    font-size: 2rem;
    color: #D98F38;
}
.contacts__value {
    margin-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}
.footer__map-container {
    display: flex;
    width: 50%;
    height: 100%;
}
.map {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
/* Edge section */
.edge {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edge__text {
    margin: 4rem auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*BOOKSY WIDGET*/

.booksy-widget-container {
    position: fixed;
    right: -10px;
    bottom: 0;
    z-index: 5;
    width: 7rem!important;
    height: 25rem!important;
    background: linear-gradient(315deg, #000000 90%, #00000000 90%);
    animation: shadow-anm 1.2s infinite ease-in-out;
    transition: all 0.5s;
}
.booksy-widget-container:hover {
    animation: none;
    right: 0;
    background: linear-gradient(315deg, var(--accent-color) 90%, #00000000 90%);
}

@keyframes shadow-anm {
    from {
        filter: drop-shadow(#000000 0 0 5px);
    }
    50% {
        filter: drop-shadow(#000000 0 0 35px);
    }
    to {
        filter: drop-shadow(#000000 0 0 5px);
    }
}

.booksy-widget-button {
    background-image: none!important;
    width: 100%!important;
    height: 100%!important;
    color: #FFFFFF;
    font-size: 20px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    writing-mode:vertical-rl;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

@media screen and (max-width: 1500px) {
    .gallery__images-container {
        grid-template-columns: 23rem 23rem 23rem 23rem;
    }
    .gallery__image {
        width: 23rem;
        height: 23rem;
    }
}

@media screen and (max-width: 1200px) {
    .features__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 1080px) {
    .welcome__wrapper {
        width: 100%;
        margin: 0 3rem;
    }
    .welcome__message h2 {
        width: 100%;
    }
    .welcome__message p {
        width: 80%;
    }
    .logo {
        margin-right: 2rem;
    }
    .navigation {
        width: 42%;
    } 
    .welcome__image-container {
        opacity: 0.7;
    }

    .about-us__wrapper {
        width: 100%;
        margin: 4rem 3rem;
        flex-direction: column;
    }
    .about-us__text-container {
        width: 100%;
        padding-right: 0rem;
    }
    .about-us__image-container {
        width: 60%;
        margin-top: 5rem;
    }

    .features__wrapper,
    .services__wrapper {
        width: 100%;
        margin: 5rem 3rem;
    }

    .gallery__wrapper {
        margin: 5rem auto;
    }
    .table {
        width: 100%;
    }
    .gallery__images-container {
        grid-template-columns: 22rem 22rem 22rem;
    }
    .gallery__image {
        width: 22rem;
        height: 22rem;
    }
    .gallery__image_extra {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .welcome {
        height: calc(100vh - 7rem);
    }
    .welcome__message {
        margin-top: 6rem;
    }
    .navigation {
        display: none;
    }
    .footer__wrapper {
        flex-direction: column;
        margin: 6rem auto;
    }
    .contacts {
        width: 100%;
        padding-right: 0;
    }
    .footer__map-container {
        width: 100%;
        margin-top: 3rem;
    }
    .about-us__image-container {
        width: 100%;
    }
    .edge__text {
        margin: 3rem auto;
    }

    .welcome__image-container {
        overflow: hidden;
        right: 0;
    }
    .welcome__image {
        transform: translateX(15rem);
    }

    .header {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
    .footer__links {
        gap: 2rem;
    }
    
    .gallery__wrapper {
        margin: 7rem auto 3rem;
    }
    .gallery__images-container {
        grid-template-columns: 22rem 22rem;
    }
    .gallery__image {
        width: 22rem;
        height: 22rem;
    }
    .gallery__image_extra {
        display: none;
    }
    .services__wrapper {
        margin: 7rem 3rem 0rem;
    }
    .about-us__wrapper {
        margin: 7rem 3rem 0rem; 
    }
    .gallery-modal__close-btn {
        background-color: #00000020;
    }

    .footer__map-container {
        height: 300px;
        width: 120%;
    }
}
@media screen and (max-width: 600px) {
    .welcome__message h2 {
        font-size: 4rem;
    }
    .features__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .features__item:not(:first-child) {
        margin-top: 4rem;
    }
    .gallery__images-container {
        grid-template-columns: 20rem 20rem;
    }
    .gallery__image {
        width: 20rem;
        height: 20rem;
    }
    .gallery__button {
        width: 26rem;
        height: 6rem;
        line-height: normal;
        text-align: center;
    }

    .booksy-widget-container {
        width: 5rem!important;
        height: 22rem!important;
    }
    .booksy-widget-button {
        font-size: 18px;
        margin-left: -5px!important;
    }
}

@media screen and (max-width: 540px) {
    .gallery__images-container {
        grid-template-columns: 24rem 24rem;
    }
    .gallery__image {
        width: 24rem;
        height: 24rem;
    }
    .splide__arrow--next {
        right: -2em;
    }
    .splide__arrow--prev {
        left: -2em;
    }
    .table__cell {
        font-size: 1.8rem;
    }
    .footer__wrapper {
        margin: 4rem auto;
    }
    .contacts {
        gap: 4rem;
    }
    .contacts__list {
        gap: 2rem;
    }
    .edge__text {
        margin: 2.5rem auto;
    }
}

@media screen and (max-width: 400px) {
    .welcome__button {
        margin-top: 7rem;
    }
    .welcome__message h2 {
        font-size: 3.2rem;
    }
    .welcome__message p {
        margin-top: 1rem;
        font-size: 1.8rem;
    }
    .welcome__image-container {
        width: 45rem;
    }
}
.hidden {
    display: none;
}

/*---Splide gallery---*/
.slider {
    display: flex;
    flex-direction: column;
    max-width: 128rem;
    width: 80%;
    margin: 8rem auto;
}
.gallery-modal__slider {
    width: 80vmin;
    margin: 0 auto;
}

.splide__image {
    width: 100%;
    height: 100%;
}

.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}

.thumbnail {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    filter: grayscale(1) brightness(0.7);
}

.thumbnail.is-active {
    filter: grayscale(0) brightness(1);
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* call button */
.call-btn {
    display: none;
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    background: #4fbaea;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    z-index: 2;
}

.call-btn:before,
.call-btn:after {
    content: " ";
    display: block;
    position: absolute;
    border: 1px solid #4fbaea;
    border-radius: 50%;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    animation: animate 1.5s linear infinite;
}

.call-btn:after{
	animation-delay: .5s;
}

@keyframes animate
{
0%
{
    transform: scale(0.5);
    opacity: 0;
}
50%
{
    opacity: 1;
}
100%
{
    transform: scale(1.2);
    opacity: 0;
}
}

@media screen and (max-width: 800px) {
    .call-btn {
        display: block;
    }
}