.start {
    margin-top: 12rem;

    &__title {
        width: 70%;
        font-weight: 800;
        @include adaptiv-font(60,30);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 3rem;
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        @include adaptiv-font(22,18);
        line-height: 1.6;
        font-weight: normal;
        width: 55%;
        margin-bottom: 7rem;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 550px;
    }

    &__btn {
        background-color: #000000;
        color: #FFFFFF;
        border-radius: 1rem;
        @include adaptiv-font(20,12);
        padding: 30px 60px;
        box-shadow: 0px 4px 20px rgb(0 0 0 / 30%);
        transition: 0.5s;
        &:hover{
            background-color:#D98F38;
        }
    }
}

@media (max-width: 900px) {
    .start{
        &__img{
            opacity: 0.5;
        }
        &__title,&__text{
            width: 100%;
            position: relative;
            z-index: 2;
        }
        &__btn{
            position: relative;
            z-index: 2;
        }
    }
}


@media (max-width: 850px) {
    .start{
        margin-top: 6rem;
        &__text{
            margin-bottom: 4rem;
        }
        &__img{
            width: 70%;
        }
    }
}


@media (max-width: 450px) {
    .start{
        &__btn{
            width: 100%;
        }
    }
}